<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384145309918-o03ei29t3mpohbjrj0s1g94micrl0g26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384145309918-o03ei29t3mpohbjrj0s1g94micrl0g26</string>
	<key>API_KEY</key>
	<string>AIzaSyABfHP8xwyTFdw-BQG6hnoHFVDu_hdDQ-A</string>
	<key>GCM_SENDER_ID</key>
	<string>384145309918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoListApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-616ab</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-616ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384145309918:ios:63c8564e824b664d0b024f</string>
</dict>
</plist>